.card__container {
  display: flex;
  align-items: center;
}
.text__container {
  align-items: center;
}

.btn__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btn {
  margin: 0.5rem;
}

#img__item {
  width: 10rem;
}

.item__img__container {
  display: flex;
  justify-content: center;
  align-content: center;
}
