:root {
  --text-color: #ffffff;
}

.nav__container {
  margin-bottom: 2rem;
  background-color: #1b356e;
  color: var(--text-color);
}

.nav__link {
  justify-content: end;
  padding-right: 8rem;
  color: var(--text-color);
}

.nav__nombre {
  padding-left: 8rem;
  text-decoration: none;
  color: var(--text-color);
}

.nav__opciones {
  align-items: center;
}

.nav__menu {
  text-decoration: none;
  color: var(--text-color);
  margin: 1rem;
}
